<div [ngClass] = "{ 'text-right': login.usuario.uid === message.uid}">
<span class="badge"
      [ngClass] = "{ 'badge-primary': login.usuario.uid === message.uid,
                     'badge-success': login.usuario.uid != message.uid}"
>{{ message.name }}</span>
<p>{{ message.message }}</p>
</div>
