
<app-navbar></app-navbar>
<div class="container main-container">
  <h1>Chat</h1>
  <div class="col-md-12 text-right" *ngIf="login.usuario.uid">
    <button type="button" class="btn btn-outline-danger" (click)="loginEnding()">
      Salir
    </button>
  </div>
  <router-outlet></router-outlet>
</div>





