<div class="row">
  <div class="col-md-12 text-center">
    <p>
      Ingrese al Chat con su cuenta Google
    </p>
    <button type="button" class="btn btn-outline-primary"
    (click)="login()"
    >
      Google
    </button>
  </div>
</div>
